footer.footer
    .footer__logo
        img(href='img/footer.png' alt='footer img')
    ul.footer__nav
        li: a(href='#') About Us
        li: a(href='#') Contact 
        li: a(href='#') Github
        li: a(href='#') Teste
    p.footer__copyright &copy; by Jonas Schmedtmann